<launch>
    <param name="use_sim_time" value="true"/>
    <!-- Simulator. provide: scan, odom, tf  -->
    <!-- <include file="$(find bot_simulation)/launch/simulate.launch"/> -->

    <!-- Google Cartographer -->
    <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="
          -configuration_directory
              $(find cartographer_mapping)/configuration_files
          -configuration_basename localization_only.lua
          -load_state_filename $(env SLAMROBOT_HOME)/data/battleground-0407.pbstream" output="screen">
    </node>

    <include file="$(find world_transform_publisher)/launch/world_transform_publisher.launch"/>
    <include file="$(find location_corrector)/launch/location_corrector.launch"/>
    <!-- Convert Cartographer map into ROS occupancy grid map -->
    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

    <node pkg="rviz" type="rviz" name="show_rviz" args="-d $(find cartographer_mapping)/rviz/demo.rviz"/>

</launch>
