<launch>
  <!-- 模型初始位置 -->
  <arg name="x_pos" default="-12.4"/>
  <arg name="y_pos" default="-1.38"/>
  <arg name="z_pos" default="0.0"/>

  <param name="use_sim_time" value="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find bot_simulation)/worlds/battle_ground.sdf"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="rosrun xacro xacro $(find bot_simulation)/urdf/bot.urdf.xacro" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model srmbot -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
</launch>
